<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.edu.utas.dengm.tutorialsmarkingapp">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TutorialsMarkingApp">
        <activity android:name=".ChooseMultipleActivity"></activity>
        <activity android:name=".ScoreActivity" />
        <activity android:name=".ChooseAbcActivity" />
        <activity android:name=".ChooseHdActivity" />
        <activity android:name=".MultipleActivity" />
        <activity android:name=".EnterScoreActivity" />
        <activity android:name=".GradeAbcActivity" />
        <activity android:name=".GradeHdActivity" />
        <activity android:name=".CheckboxActivity" />
        <activity android:name=".StudentDetailActivity" />
        <activity android:name=".AddStudentActivity" />
        <activity android:name=".ReportActivity" />
        <activity android:name=".AttendanceActivity" />
        <activity android:name=".ClasslistActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="au.edu.utas.dengm.tutorialsmarkingapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>